spring:
    application:
        name: music-manager
    datasource:
        url: jdbc:postgresql://localhost:5432/musicdb
        username: musicuser
        password: musicpass
    jpa:
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                format_sql: true
            dialect: org.hibernate.dialect.PostgreSQLDialect
        show-sql: true
    rabbitmq:
        host: localhost
        port: 5672
        username: guest

server:
    port: 8080

logging:
    level:
        root: INFO
        org.hibernate.SQL: DEBUG

